# --- Postgres Configuration ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=sop
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# --- RabbitMQ Configuration ---
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

# --- Grafana Configuration ---
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin

# --- Services Configuration ---
SERV_AMQP_QUEUENAME=api_events_queue
SERV_DB_NAME=hosting_service_db
SERV_TEMPO_PROBABILITY=1.0

PROV_AMQP_QUEUENAME=provisioning_queue
PROV_APP_PROVISIONINGTIME=5s

RES_DB_NAME=resources_service_db